:root {
  --header-color: #ffffff;
  --first-title-color: #ffffff;
  --second-title-color: #303030;
  --first-btn-color: #ffffff;
  --second-btn-color: #303030;
  --accent-color: #ff6c00;
  --typical-gap: 20px;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
}
body {
  font-family: 'Open Sans', sans-serif;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* мой вариант записи селектора*/
[class*='pre-title'] {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.section-title {
  font-family: 'Raleway', sans-serif;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}
.btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;
  height: 40px;
  min-width: 160px;
  border: 1px solid var(--accent-color);
  box-sizing: border-box;
  border-radius: 25px;
  background-color: transparent;
}
.btn:hover,
.btn:focus {
  background-color: var(--accent-color);
}
.after-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 1px solid red;
}
/* ===============header================= */

.header {
  background-color: grey;
  padding-top: 32px;
  padding-bottom: 32px;
}
.header .container {
  display: flex;
  align-items: center;
}
.header-link-logo {
  margin-right: 70px;
}
.header-list {
  display: flex;
}
.header-item:not(:last-child) {
  margin-right: 40px;
}
.header-connect {
  margin-left: auto;
}
.header-link,
.header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--header-color);
}
.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}
.header-button {
  color: var(--first-btn-color);
  margin-left: 40px;
}
/* ==================hero============== */
.hero .container {
  display: flex;
}
.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
}
.hero-list {
  width: 93px;
}
.hero-link:hover,
.hero-link:focus {
  color: var(--accent-color);
}
.hero-content {
  background-color: #303030;
  /* padding: 272px 0 206px 96px; */
  padding-top: 272px;
  padding-bottom: 206px;
  padding-left: 96px;
  outline: 1px solid #ff6c00;
  /* outline  - временное свойство */
  flex-grow: 1;
}
.hero-pre-title {
  margin-bottom: var(--typical-gap);
  color: rgba(157, 164, 189, 0.6);
}
.hero-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  margin-bottom: var(--typical-gap);
  color: var(--first-title-color);
}
.hero-after-title {
  max-width: 400px;
  color: #9da4bd;
}
/* ==============about============== */
.about {
  padding-top: 139px;
  padding-bottom: 121px;
}
.about .container {
  display: flex;
}
.about-list {
  display: flex;
  margin-right: 64px;
}
.about-item + .about-item {
  margin-left: 30px;
}
.about-pre-title {
  margin-bottom: var(--typical-gap);
  color: #303030;
}
.about-title {
  color: var(--second-title-color);
  margin-bottom: var(--typical-gap);
}
.about-after-title {
  margin-bottom: var(--typical-gap);
  color: #555555;
}
.about-text {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
}
.about-button {
  color: var(--second-btn-color);
}
/* ==============price============= */
.price {
  padding-top: 130px;
  padding-bottom: 130px;
  background-color: #303030;
}
.price-pre-title {
  padding-bottom: var(--typical-gap);
  color: rgba(157, 164, 189, 0.6);
}
.price-title {
  padding-bottom: 44px;
  color: var(--first-title-color);
}
.price-wrap {
  display: flex;
  margin-bottom: 50px;
}
.price-list {
  outline: 1px solid red;
  padding: 30px 40px;
  flex-grow: 1;
}
.price-item {
  margin-bottom: var(--typical-gap);
  display: flex;
  justify-content: space-between;
}
.price-item:last-child {
  margin-bottom: 0;
}
.price-item-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
.price-button {
  color: var(--first-btn-color);
  display: block;
  margin: 0 auto;
}
/* =====================feature================ */
.feature {
  padding-top: 121px;
  padding-bottom: 130px;
}
.feature-item {
  outline: 1px solid red;
  width: 170px;
  height: 133px;
  padding: 20px 24px;
}
.feature-item:last-child {
  padding: 20px;
}
.feature-item-count {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: #303030;
}
.feature-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.33;
  text-align: center;
  color: #303030;
}
.feature-pre-title {
  margin-bottom: var(--typical-gap);
  color: #303030;
}
.feature-title {
  margin-bottom: var(--typical-gap);
  color: var(--second-title-color);
}
.feature-after-title {
  color: #555555;
}
/* =====================masters================ */
.masters {
  padding-top: 130px;
  padding-bottom: 130px;
}
.masters-list {
  display: flex;
  margin-left: -30px;
}
.masters-item {
  width: calc((100%-90px) 3);
  margin-left: 30px;
}
/* .masters-item + .masters-item {
  margin-left: 30px;
} */
.masters-pre-title {
  margin-bottom: var(--typical-gap);
  color: #303030;
}
.masters-title {
  margin-bottom: 44px;
  color: var(--second-title-color);
}
.masters-image {
  margin-bottom: 30px;
}
.masters-item-title {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
  color: #303030;
}
.masters-item-text {
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
/* =====================gallery================ */
.gallery {
  padding-top: 130px;
  padding-bottom: 130px;
}
.gallery-list {
  display: flex;
  margin-left: -30px;
}
.gallery-item {
  width: calc((100%-120px) 4);
  margin-left: 30px;
}
.gallery-text {
  margin-bottom: 44px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #303030;
}
/* =====================online================ */
.online {
  background-color: #303030;
}
.online-title {
  color: var(--first-title-color);
}
/* =====================contacts================ */
.contacts {
  background-color: #303030;
}
.contacts-title {
  margin-bottom: 40px;
  color: var(--first-title-color);
}
.contacts-address {
  margin-bottom: 70px;
  font-style: normal;
}
.contacts-item:nth-child(-n + 2) {
  margin-bottom: var(--typical-gap);
}
.contacts-link {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
.contacts-time-title {
  display: block;
  margin-bottom: var(--typical-gap);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}
.contacts-time-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
/* =====================footer================ */
.footer {
  padding-top: 57px;
  padding-bottom: 55px;
}
.footer-copy {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #9da4bd;
}
.footer-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
}
