.gallery {
  padding-top: 130px;
  padding-bottom: 130px;
}
.gallery-list {
  display: flex;
  margin-left: -30px;
}
.gallery-item {
  width: calc((100% - 120px) / 4);
  margin-left: 30px;
}
.gallery-text {
  margin-bottom: 44px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #303030;
}
