.masters {
  background-color: #f7f7f7;
  padding-top: 84px;
  padding-bottom: 84px;

  @media screen and (min-width: 768px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @media screen and (min-width: 768px) {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}
.masters-list {
  margin-bottom: -30px;

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}
.masters-item {
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    width: calc((100% / 3) - 30px);
    margin-left: 30px;
  }
}
// .masters-item + .masters-item {
//   margin-left: 30px;
// }
.masters-top-text {
  margin-bottom: var(--typical-gap);
  color: #303030;
}
.masters-title {
  margin-bottom: 44px;
  color: var(--second-title-color);
}
.masters-thumb {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}
.masters-cover-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 108, 0, 0.5);
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4;
  padding: 40px;
  transform: translateY(100%);
  transition: transform 250ms linear;

  .masters-item:hover & {
    transform: translateY(0);
  }
}
.masters-item-title {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
  color: #303030;
}
.masters-item-text {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.masters-soc-list {
  display: flex;
  justify-content: center;
}
.masters-soc-item:not(:last-child) {
  margin-right: 10px;
}
.masters-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--first-btn-color);
  fill: var(--second-btn-color);
  transition: fill 250ms linear;

  &:hover,
  &:focus {
    fill: #ff6c00;
  }
}
// ниже, вариант
// .masters-icon {
//   fill: currentColor;
// }

// ниже, как вариант
// .masters-soc-link:hover .masters-icon,
// .masters-soc-link:focus .masters-icon {
//   fill: mediumorchid;
// }
