.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(1);
}
.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgba(48, 48, 48, 0.3);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: scroll;
}
.backdrop.is-hidden {
  .modal {
    transform: translate(-50%) scale(1.1);
  }
}
.modal {
  position: absolute;
  top: 10px;
  left: 50%;
  width: 90vw;
  min-height: 581px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #ffffff;
  opacity: 1;
  transform: translate(-50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 30px;

  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    width: 582px;
  }
}
.modal-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: #303030;
  text-align: center;
  margin-bottom: 20px;
}
.form-field {
  margin-bottom: 15px;
}
.modal-form-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 2px solid rgba(196, 198, 25, 0.2);
  padding: 11px 12px;
  outline: transparent;

  &:focus {
    border-color: #ff6c00;
    color: #ff6c00;
  }
  &::placeholder {
    color: rgb(142, 207, 154);
  }
  &:not(:last-child) {
    margin-bottom: 10px;
  }
  .modal-form-input:placeholder-shown &:invalid {
    border-color: green;
  }
}
/* .modal-form-input:valid {
  border-color: green;
}
.modal-form-input:invalid {
  border-color: rgb(128, 0, 0);
} */
.modal-form-textarea {
  width: 100%;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding: 12px 16px;
  resize: none;
}
/* resize - свойство убирает возможность менять рпзмер окна для комментариев */
.modal-form-select {
  width: 100%;
  min-height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding: 11px 12px;
}
.modal-btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 10%;
  border: 1px solid #ff6c00;
  cursor: pointer;
  fill: #303030;
  background-color: transparent;
  transition: background-color 250ms linear, fill 250ms linear;

  &:hover,
  &:focus {
    fill: #ffffff;
    background-color: #ff6c00;
  }
}

.input-thumb {
  position: relative;
}
.icon-person {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  fill: #369d38;

  .modal-form-input:focus + & {
    fill: #ff6c00;
  }
}

.modal-form-input.value-2 {
  padding-left: 38px;
  margin-bottom: 0;
}
/* --------------------------------------- */
.chackbox-526 {
  margin: 10px 0;
}
.chackbox-526-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.chackbox-526-label {
  position: relative;
  display: flex;
  align-items: center;

  &::before {
    content: '';
    width: 40px;
    height: 22px;
    border-radius: 50px;
    border: 1px solid #303030;
    margin-right: 5px;
    background-color: rgb(143, 134, 134);
    transition: background-color 250ms;
  }

  &::after {
    position: absolute;
    top: 2px;
    left: 2px;
    content: '';
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid #303030;
    background-color: lightgrey;
    margin-right: 5px;
    transition: transform 250ms, background-color 250ms;
  }
  .chackbox-526-input:checked + &:after {
    transform: translate(18px);
    background-color: #ff6c00;
  }
  .chackbox-526-input:checked + &::before {
    background-color: #933d00;
  }
}

/* --------------------------------------- */
.privacy {
  margin: 15px 0;
}
.privacy-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.privacy-label {
  font-size: 14px;
  color: #303030;
  display: flex;
  align-items: center;
}
.privacy-icon {
  width: 16px;
  height: 15px;
  border-radius: 3px;
  border: 2px solid #303030;
  margin-right: 5px;
  fill: transparent;

  .privacy-input:checked + .privacy-label > & {
    border: 0;
    background-color: #ff6c00;
    fill: #ffffff;
  }
}

// .privacy-label::before {
//   content: '';
//   width: 16px;
//   height: 15px;
//   border-radius: 3px;
//   border: 2px solid #303030;
//   margin-right: 5px;
// }
// .privacy-input:checked + .privacy-label::before {
//   background-color: #ff6c00;
//   background-image: url(../images/icon-check.svg);
//   background-repeat: no-repeat;
//   background-size: contain;
//   background-position: center;
//   border: 0;
// }
